body {

  background: linear-gradient(
    180deg,
    rgb(172, 216, 210) 41%,
    rgb(216, 247, 243) 85%
  );
}
.bgcBlue {
  background-image: url("/img/landscape.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

h1 {
  text-align: center;
}
h2 {
  color: #2a2517;
}
h4{
  padding:.5rem 0;
}

.nav-container{
padding: 2rem;
}

.nav-underline {
  background-color: #111110;

  padding: 0.7rem;
}

.nav-underline ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0 2rem;
  padding: 0;
}

.nav-underline a {
  text-decoration: none;
  color: rgb(221, 223, 234);
  padding: 1rem 2rem;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#house-ctr {
  width: 20rem;
  height: 20rem;
}

#house {
  width: 35rem;
  height: 35rem;
  z-index: 1;
  position: relative;
  top: -100px;
  left: 40px;
  transform: rotate(1.8deg)
}

#bigCloud {
  margin-top: 3rem;
  width: 100%;
  height: 100px;
  background-image: url("/img/bigCloud.svg");
  background-repeat: no-repeat;
  position: relative;
}

.animation {
  width: 25rem;
  height: 20rem;
  border-radius: 2rem;
}

.cloudAnimate {
  background-position-x: 0%;
  animation-name: move, fade;
  animation-duration: 13s, 15s;
  animation-delay: 0s, 2s;
  animation-timing-function: ease-in, ease-out;
  animation-iteration-count: infinite, infinite;
}

#smallCloud {
  background-repeat: no-repeat;
  width: 100%;
  height: 10rem;
  background-image: url("/img/bigCloud.svg");
  z-index: 1;
  top: 13rem;
  position: absolute;
}

@keyframes move {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}
@keyframes fade {
  50% {
    opacity: 0;
  }
}



/* Bar Chart */

.chartCtr {
  width: 23rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#chart {
  padding: 1rem;
  margin: 1.5rem auto;
  width: 24rem;
  height: 24rem;
  background-color: rgba(255, 255, 255);
  border-radius: 1.5rem;
  position: relative;
}

#tooltip{
  position: absolute;
  opacity: 0;
  background-color: white;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
  pointer-events: none;
 
}

.bar-labels{
  text-anchor: middle;
  font-size: 1rem;
}

/* Map Styling */


#map {
  margin: 1rem auto;
    height: 26rem;
    width: 95%;
    border: .5rem solid #111110;
    border-radius: .3rem;
}
.info {
    padding: .5rem .6rem;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: .6rem;
    
}
.legend {
    line-height: .5rem;
    color: #111111;
    padding: .2rem 1rem;
}

